body{
	padding-top: 150px;
	background: url(https://www.google.com.mx/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwirw6bLl-fXAhUH7oMKHf4PCEkQjRwIBw&url=https%3A%2F%2Fwww.cecohome.com%2Fen%2Fecosystem%2Fterminology%2F&psig=AOvVaw1728VI0mqYX6e3SbB7tTA9&ust=1512161733729007);
	background-size: cover;
	background-repeat: no-repeat;
	
}