<!DOCTYPE html>
<html>
<head>
	<title>IOT</title>
</head>

<body>
    <form method="POST" action="/temperature">
        <button>Obtener Temperatura</button>
    </form>
    <form method="POST" action="/humidity">
        <button>Obtener humedad</button>
    </form>
    <textarea rows="1" cols="15"><%=text%><%= val %></textarea>
</body>

</html>