body{
	background: url(https://www.cecohome.com/media/img-uncuted-common/pcb-background-professional-design.jpg);
	background-size: cover;
	background-repeat: no-repeat;


}

#align{
	padding-top: 10px;
	padding-left: 10px;
}

.center{
	opacity: 0.9;
}

.move{
	padding-top: 150px;
}

.textBox{
	padding-top: 20px;
	padding-left: 100px;
}

.padd{
 padding-top: 10px;
}

.jumbotron{
	padding-top: 10px;
}

.navbar{
	background: #779CD1; 
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #5cb85c; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: red; color: white;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}